<br />

<footer id="footer">
    <!--Footer-->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <strong>Phát triển</strong>                    
                    <p>Developer: Lê Văn Hiếu</p>
                    <p>Email: <a href="mailto:hieuntp2@gmail.com">hieuntp2@gmail.com</a></p>
                </div>
                <div class="col-sm-6">
                    <strong>Liên hệ</strong>                   
                    <p>Sales: <a href="mailto:sales@mamonde.vn">sales@mamonde.vn</a></p>
                    <p>Email: <a href="mailto:info@mamonde.vn">info@mamonde.vn</a></p>                   
                    <p>Phone: 0898 946 886</p>
                    <p>Địa chỉ: 246/5 Phan Trung, Phường Tân Mai, Biên Hòa, Đồng Nai</p>
                </div>              
            </div>

            <div class="row text-center">
                <p>Copyright © 2015 Mamonde.vn</p>
            </div>
        </div>
    </div>

</footer>