@using Microsoft.AspNet.Identity
@{
    ProjectS3.Models.AspNetUsers user = null;
    ProjectS3.Models.ProjectS3Entities db = new ProjectS3.Models.ProjectS3Entities();
    if (Request.IsAuthenticated)
    {        
        string userid = User.Identity.GetUserId();
        user = db.AspNetUsers.SingleOrDefault(t => t.Id == userid);
    }
}
<header id="header">
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="logo pull-left">
                        <a href="/home"><img src="~/content/myshopcontent/images/home/logo.png" alt="" /></a>
                    </div>
                    <div class="shop-menu pull-left">
                        <ul class="nav navbar-nav">
                            @*<li><a href="/home/company">COMPANY</a></li>*@
                            @foreach(var item in db.ProductBranches)
                            {
                                <li><a href="/home/branch/@item.Name">@item.Name</a></li>
                            }
                           
                            @*<li><a href="/home/branch/COMPAGNA">COMPAGNA</a></li>
                            <li><a href="/home/branch/YETTS">YETTS</a></li>
                            <li><a href="/home/branch/y'sb">y'sb</a></li>
                            <li><a href="/home/branch/TRUGEN">TRUGEN</a></li>
                            <li><a href="/home/branch/S+">S+</a></li>
                            <li><a href="/home/branch/TATE">TATE</a></li>
                            <li><a href="/home/branch/BIND">BIND</a></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 0; padding-right: 0; margin-top: 10px;">
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="../../cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>

                            @if (Request.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a>@user.UserName<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="../../cart/history">Lịch sử mua hàng</a></li>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li><a href="../../admin">Quản lý website</a></li>
                                        }
                                        
                                        @if (User.IsInRole("Moderate"))
                                        {
                                            <li><a href="../../moderate">Quản lý sản phẩm/ bài viết</a></li>
                                        }
                                        <li><a href="../../manage">Tài khoản</a></li>

                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="../../account/login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header><!--/header-->
<br />

