USE [master]
GO
/****** Object:  Database [ProjectS3]    Script Date: 11/03/2016 8:57:46 SA ******/
use [ProjectS3] ON  PRIMARY 
( NAME = N'ProjectS3', FILENAME = N'D:\mssqldata\ProjectS3.mdf' , SIZE = 2304KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectS3_log', FILENAME = N'E:\mssqllog\ProjectS3_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectS3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectS3]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/03/2016 8:57:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[HoTen] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[linkHinh] [ntext] NOT NULL,
	[NgayDang] [datetime] NOT NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoSanPham]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Mota] [ntext] NOT NULL,
 CONSTRAINT [PK_BoSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietBoSanPham]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBoSanPham](
	[IDBoSanPham] [int] NOT NULL,
	[IDSanPham] [int] NOT NULL,
	[SoLuongThuongMua] [int] NOT NULL,
	[Size] [nvarchar](1) NULL,
 CONSTRAINT [PK_ChiTietBoSanPham] PRIMARY KEY CLUSTERED 
(
	[IDBoSanPham] ASC,
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[IDDonHang] [int] NOT NULL,
	[IDSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDBoSanPham] [int] NULL,
	[Size] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DioGia] [float] NULL,
 CONSTRAINT [PK__ChiTietD__3214EC27EA31D536] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[DiaChiGiao] [nvarchar](255) NOT NULL,
	[ThoiGianGiao] [datetime] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Comment] [ntext] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HeadItem]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[caption] [nvarchar](255) NOT NULL,
	[href] [nvarchar](255) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_HeadItem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MyDynamicvalue]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyDynamicvalue](
	[Key] [nvarchar](50) NOT NULL,
	[value] [nvarchar](100) NULL,
 CONSTRAINT [PK_MyDynamicvalue] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductBranches]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBranches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DisplayView] [nvarchar](50) NULL,
	[linkBanerImage] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[DioGia] [float] NOT NULL,
	[linkanh] [ntext] NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[Branches] [int] NULL,
	[Color] [nvarchar](100) NULL,
	[Size] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[LastUpdateDate] [datetime] NULL,
	[UserUpdate] [nvarchar](128) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemInformation]    Script Date: 11/03/2016 8:57:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemInformation](
	[Key] [nvarchar](50) NOT NULL,
	[value] [int] NULL,
 CONSTRAINT [PK_SystemInformation] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'001', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'002', N'Moderate')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'1035910943142240', N'8947b47f-0660-4188-a4e8-bbd86ef3193f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'453d1fe1-4a2b-4c5a-bff9-092bb9da65dd', N'002')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c01cdc9e-8c73-411f-9e57-41dcd6949ea5', N'001')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c01cdc9e-8c73-411f-9e57-41dcd6949ea5', N'002')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DiaChi], [SoDienThoai], [HoTen], [avatar]) VALUES (N'22fdcabf-617e-4092-a56b-4da25ecb842a', N'poster@cc.cc', 0, N'APSzlMuPelu9HduXuTBymuSbwcPYa5h3VkpV2Y1yYpKkNNeCjMlI2ftatYo2OTezVg==', N'4dcfcc15-3035-4a42-9d22-ae889ce76117', NULL, 0, 0, NULL, 1, 0, N'poster@cc.cc', N'adsfadf', N'0000111', N'afds', N'../../content/defaultavatar.png')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DiaChi], [SoDienThoai], [HoTen], [avatar]) VALUES (N'453d1fe1-4a2b-4c5a-bff9-092bb9da65dd', N'moderate@cc.cc', 0, N'AIzQJuiwU/4bd/oI7RIL0Z+zE6Hq5PiYeyGdCLQJ16K82SB6gn5ykmnR7ustvXovbA==', N'57522b86-b4de-459e-b5f0-8889bb917021', NULL, 0, 0, NULL, 1, 0, N'moderate@cc.cc', N'moderate 1', N'0000', N'moderate 1', N'../../content/defaultavatar.png')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [DiaChi], [SoDienThoai], [HoTen], [avatar]) VALUES (N'8947b47f-0660-4188-a4e8-bbd86ef3193f', N'hieuntp2@gmail.com', 0, NULL, N'20e8678f-9697-490a-b27e-0b5ae8c4e9df', NULL, 0, 0, NULL, 1, 0, N'hieuntp2@gmail.com', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([IDDonHang], [IDSanPham], [SoLuong], [IDBoSanPham], [Size], [Color], [ID], [DioGia]) VALUES (3, 2, 3, -1, NULL, NULL, 3, 25000)
INSERT [dbo].[ChiTietDonHang] ([IDDonHang], [IDSanPham], [SoLuong], [IDBoSanPham], [Size], [Color], [ID], [DioGia]) VALUES (3, 2, 4, -1, NULL, NULL, 4, 25000)
INSERT [dbo].[ChiTietDonHang] ([IDDonHang], [IDSanPham], [SoLuong], [IDBoSanPham], [Size], [Color], [ID], [DioGia]) VALUES (3, 2, 3, -1, NULL, NULL, 5, 25000)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([ID], [UserID], [DiaChiGiao], [ThoiGianGiao], [TinhTrang], [SoDienThoai], [NgayTao], [Comment]) VALUES (3, N'c01cdc9e-8c73-411f-9e57-41dcd6949ea5', N'adf', CAST(0x0000A5BE00F5D1B0 AS DateTime), 1, N'dsf', CAST(0x0000A5BC01176919 AS DateTime), NULL)
INSERT [dbo].[DonHang] ([ID], [UserID], [DiaChiGiao], [ThoiGianGiao], [TinhTrang], [SoDienThoai], [NgayTao], [Comment]) VALUES (4, N'c01cdc9e-8c73-411f-9e57-41dcd6949ea5', N'adf', CAST(0x0000A5C4012741F0 AS DateTime), 1, N'dsf', CAST(0x0000A5BC0117E700 AS DateTime), NULL)
INSERT [dbo].[DonHang] ([ID], [UserID], [DiaChiGiao], [ThoiGianGiao], [TinhTrang], [SoDienThoai], [NgayTao], [Comment]) VALUES (5, N'c01cdc9e-8c73-411f-9e57-41dcd6949ea5', N'adf', CAST(0x0000A5C4011826C0 AS DateTime), 1, N'dsf', CAST(0x0000A5BC01184D0B AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
SET IDENTITY_INSERT [dbo].[HeadItem] ON 

INSERT [dbo].[HeadItem] ([id], [image], [caption], [href], [type]) VALUES (2, N'http://inthef.com/inthef_new/images/main/1.jpg', N'JOINUS', N'/home/branch/JOINUS', 0)
SET IDENTITY_INSERT [dbo].[HeadItem] OFF
INSERT [dbo].[MyDynamicvalue] ([Key], [value]) VALUES (N'hesonhan', N'1')
INSERT [dbo].[MyDynamicvalue] ([Key], [value]) VALUES (N'toemail', N'')
INSERT [dbo].[MyDynamicvalue] ([Key], [value]) VALUES (N'tygia_WonVND', N'1')
SET IDENTITY_INSERT [dbo].[ProductBranches] ON 

INSERT [dbo].[ProductBranches] ([Id], [Name], [DisplayView], [linkBanerImage]) VALUES (1, N'JOINUS', N'branchstyle_3', N'http://www.inthef.co.kr/joinus_new/images/main_new/main_slide03.jpg; http://www.inthef.co.kr/joinus_new/images/main_new/main_slide01.jpg; http://www.inthef.co.kr/joinus_new/images/main_new/main_slide02.jpg; ')
INSERT [dbo].[ProductBranches] ([Id], [Name], [DisplayView], [linkBanerImage]) VALUES (2, N'COMPAGNA', N'branchstyle_3', N'')
INSERT [dbo].[ProductBranches] ([Id], [Name], [DisplayView], [linkBanerImage]) VALUES (4, N'YETTS', N'branchstyle_3', N'')
SET IDENTITY_INSERT [dbo].[ProductBranches] OFF
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (1, N'Áo')
INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (2, N'Quần')
INSERT [dbo].[ProductTypes] ([Id], [Name]) VALUES (3, N'Váy')
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID], [Ten], [DioGia], [linkanh], [MoTa], [TinhTrang], [SoLuong], [Branches], [Color], [Size], [Type], [LastUpdateDate], [UserUpdate]) VALUES (1, N'JA5W1-WCH270(L/Beige)', 10000, N'http://gi.esmplus.com/wpcentar01/2014/07/0704/S7300791.JPG; http://gi.esmplus.com/wpcentar01/2014/07/0704/S7300792.JPG; http://gi.esmplus.com/wpcentar01/2014/07/0704/S7300793.JPG', N'<p>Coat JA5W1-WCH270(L/Beige)<br />
One-piece JA5W1-WOP220(BK)</p>
', N'DISABLE', NULL, 1, N'Đỏ; Đen; Xanh lá cây', N' S XL', 1, CAST(0x0000A41300000000 AS DateTime), N'453d1fe1-4a2b-4c5a-bff9-092bb9da65dd')
INSERT [dbo].[SanPham] ([ID], [Ten], [DioGia], [linkanh], [MoTa], [TinhTrang], [SoLuong], [Branches], [Color], [Size], [Type], [LastUpdateDate], [UserUpdate]) VALUES (2, N'JA5W1-WIH020(L/GY)', 123, N'http://www.inthef.co.kr/file/board/jl15w_02[1].jpg', N'<p>Down JA5W1-WIH020(L/GY) Inner JA5W0-WSL130(M/GY)</p>
', N'DISABLE', NULL, 1, N'GY', N' M XL', 2, CAST(0x0000A41300000000 AS DateTime), N'453d1fe1-4a2b-4c5a-bff9-092bb9da65dd')
INSERT [dbo].[SanPham] ([ID], [Ten], [DioGia], [linkanh], [MoTa], [TinhTrang], [SoLuong], [Branches], [Color], [Size], [Type], [LastUpdateDate], [UserUpdate]) VALUES (3, N'JA5W1-WCH210(Blue)', 123, N'http://www.inthef.co.kr/file/board/jl15w_03[2].jpg', N'<p>Coat JA5W1-WCH210(Blue) Inner JA5W1-WKL200(L/GY) Denim pants JA5W0-WDP020(Blue)</p>
', N'DISABLE', NULL, 1, N'213', N' M L', 1, CAST(0x0000A41300000000 AS DateTime), N'453d1fe1-4a2b-4c5a-bff9-092bb9da65dd')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/03/2016 8:57:59 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietBoSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBoSanPham_BoSanPham] FOREIGN KEY([IDBoSanPham])
REFERENCES [dbo].[BoSanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietBoSanPham] CHECK CONSTRAINT [FK_ChiTietBoSanPham_BoSanPham]
GO
ALTER TABLE [dbo].[ChiTietBoSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBoSanPham_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietBoSanPham] CHECK CONSTRAINT [FK_ChiTietBoSanPham_SanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang1] FOREIGN KEY([IDDonHang])
REFERENCES [dbo].[DonHang] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang1]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham1] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham1]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_AspNetUsers]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_AspNetUsers] FOREIGN KEY([UserUpdate])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_AspNetUsers]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ProductBranches] FOREIGN KEY([Branches])
REFERENCES [dbo].[ProductBranches] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ProductBranches]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ProductTypes] FOREIGN KEY([Type])
REFERENCES [dbo].[ProductTypes] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ProductTypes]
GO
USE [master]
GO
